*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: serif;
}

.manu_bar{
    background-color: rgb(1, 1, 34);
    height: 80px; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 200px;
    padding-left: 50px;
}

.logo{
    color: white;
    font-size: 30px;
}

.logo span{
    color: blue;
}

.manu_bar ul{
    list-style: none;
    display: flex;
}

.manu_bar ul li{
    padding: 10px 30px;
    position: relative;
}

.manu_bar ul li a{
    color: white;
    text-decoration: none;
    font-size: 10px;
}

.manu_bar ul li a:hover{
    color: blue;
}

.dropdown_manu{
    display: none;
}
.manu_bar ul li:hover .dropdown_manu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(1, 1, 34);
}

.dropdown_manu ul{
    display: block;
    margin: 10px;
}

.dropdown_manu ul li{
    width: 90px;
    padding: 5px;
}

.hero{
    height: 400px;
    background-image: url(/Images/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.home_content{
    color: white;
    text-align: left;
    font-size: 100px;
}

.under{
    color: white;
    text-align: left;
    font-size: 16px;
    padding-left: 190px;
    line-height: 0px;
}

.button{
    color: black;
    font-size: 16px;
    display: flex;
    width: 50px;

}

.content{
    color: white;
    /* display: block; */
    padding-top: 30px;
    
}

.about{
    padding-top: 20px;
    text-align: center;
    color: rgb(1, 1, 34);
    padding-bottom: 50px;
}

.about h3:hover{
    color: blue;
    text-align: center;
    text-decoration: underline;
}

.con{
    width: 100%;
    padding-bottom: 20px;
}
.big{
    display:block;
    float: left;
    width: 55%;
    padding-left: 20px;
}
.big h1{
    padding-bottom: 10px;
}
.img img{
    float: right;
    width: 400px;
    height: 200px;
    padding-right: 120px;
}

img{
    border: solid tomato;
    border-radius: 10px;
}
